// compileExpanded: ../css/SliderPlex.css, compileCompressed: ../css/SliderPlex.min.css

@import 'vars'
@import 'mixins/propertyPrefix'
@import 'mixins/commons'
@import 'arrow'

.slider-plex
    position: relative
    width: 100%
    height: 100%
    overflow: hidden
    background-color: transparent
    overflow: hidden

    .plex-slides
        position: absolute
        top: 0
        bottom: 0
        margin: 0
        padding: 0
        width: 100%

    .active
        z-index: 4

    .next, .prev
        z-index: 3

    .full-height > li > *
        height: 100%

.plex-slides
    > li
        position: absolute
        top: 0
        bottom: 0
        width: 100%
        list-style: none

        > img
            width: 100%

.fadeOut
    @include animation(fadeOut .5s ease-out)

@keyframes fadeOut
    from
        opacity: 1
    to
        opacity: 0

.zoomOut
    @include animation(zoomOut .5s ease-out)

@keyframes zoomOut
    from
        opacity: 1
        @include transform(scale(1))
    to
        opacity: 0
        @include transform(scale(1.02))

.slideIn
    @include animation(slideIn .5s ease-out)

.slideOut
    @include animation(slideOut .5s ease-out)

@keyframes slideIn
    from
        @include transform(translateX(-100%))
    to
        @include transform(translateX(0))

@keyframes slideOut
    from
        @include transform(translateX(0))
    to
        @include transform(translateX(-100%))
