/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
@font-face {
  font-family: 'icomoon';
  src: url("../arrows/fonts/icomoon.eot?y8lnex");
  src: url("../arrows/fonts/icomoon.eot?y8lnex#iefix") format("embedded-opentype"), url("../arrows/fonts/icomoon.ttf?y8lnex") format("truetype"), url("../arrows/fonts/icomoon.woff?y8lnex") format("woff"), url("../arrows/fonts/icomoon.svg?y8lnex#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.slider-plex .arrow {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  color: #fff;
  position: absolute;
  top: 50%;
  padding: 0 35px;
  /* We use z-index to show and hide our slides */
  /* We must set the `.arrow` z-index with a higher value */
  /* so the .arrow are always displayed in front of our slides */
  z-index: 555;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
  .slider-plex .arrow {
    display: none;
  }
}

.slider-plex .arrow-left {
  left: 0;
}

.slider-plex .arrow-left:before {
  content: "\e901";
}

.slider-plex .arrow-right {
  right: 0;
}

.slider-plex .arrow-right:before {
  content: "\e900";
}

.non-focus {
  opacity: .3;
}

.non-focus:hover {
  opacity: 1;
}

.slider-plex {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-plex .active {
  display: block;
}

.slider-plex .full-height > li > * {
  height: 100%;
}

.slides {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slides > li {
  position: absolute;
  width: 100%;
  height: 100%;
  list-style: none;
  display: none;
}

.slides > li > img {
  width: 100%;
}

.slider-plex .new, .slider-plex .old {
  display: block;
}

.fade .new {
  z-index: 1;
  -webkit-animation: fadeIn ease-out;
  -moz-animation: fadeIn ease-out;
  -o-animation: fadeIn ease-out;
  animation: fadeIn ease-out;
}

.zoom .new {
  -webkit-animation: fadeIn ease-in;
  -moz-animation: fadeIn ease-in;
  -o-animation: fadeIn ease-in;
  animation: fadeIn ease-in;
}

.zoom .old {
  z-index: 1;
  -webkit-animation: zoomOut ease-out;
  -moz-animation: zoomOut ease-out;
  -o-animation: zoomOut ease-out;
  animation: zoomOut ease-out;
}

.slide .new {
  -webkit-animation: slideIn ease-in-out;
  -moz-animation: slideIn ease-in-out;
  -o-animation: slideIn ease-in-out;
  animation: slideIn ease-in-out;
}

.slide .old {
  -webkit-animation: slideOut ease-in-out;
  -moz-animation: slideOut ease-in-out;
  -o-animation: slideOut ease-in-out;
  animation: slideOut ease-in-out;
}

.slideRight .new {
  -webkit-animation: slideRightIn ease-in-out;
  -moz-animation: slideRightIn ease-in-out;
  -o-animation: slideRightIn ease-in-out;
  animation: slideRightIn ease-in-out;
}

.slideRight .old {
  -webkit-animation: slideRightOut ease-in-out;
  -moz-animation: slideRightOut ease-in-out;
  -o-animation: slideRightOut ease-in-out;
  animation: slideRightOut ease-in-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
}

@-moz-keyframes zoomOut {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
}

@-o-keyframes zoomOut {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes slideOut {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes slideOut {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideRightIn {
  from {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes slideRightIn {
  from {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes slideRightIn {
  from {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideRightIn {
  from {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideRightOut {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-moz-keyframes slideRightOut {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-o-keyframes slideRightOut {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideRightOut {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
